---
export interface Props {
  servicio: string;
}

const { servicio } = Astro.props;
const numero = "56989827644";
const mensaje = `Hola! Quiero una evaluación gratuita para el servicio de ${servicio}`;
const encodedMsg = encodeURIComponent(mensaje);
---

<button
  type="button"
  class="cta-wsp cursor-pointer inline-flex items-center gap-2 bg-primary text-white px-6 py-3 rounded-lg shadow hover:bg-primary/80 transition"
  data-numero={numero}
  data-msg={encodedMsg}
>
  <img src="/whatsapp.svg" alt="WhatsApp" class="w-10 h-10" />
  <span>Solicitar Evaluación Gratuita</span>
</button>
