---
// GoogleReview.astro
---

<section id="google-review-widget" class="my-8 w-full max-w-6xl mx-auto px-4">
  <script src="https://apps.elfsight.com/p/platform.js" defer></script>
  <div class="elfsight-app-fee26278-469e-4bc6-bd96-b98cb1ab5567" data-elfsight-app-lazy></div>
</section>

