
<header class="fixed top-0 inset-x-0 z-50" id="header">
  <!-- Barra principal del header -->
  <div class="bg-white/70 backdrop-blur-md shadow transition-all duration-300">
    <div class="max-w-7xl mx-auto px-4 py-4 flex items-center justify-between overflow-hidden">
      <!-- Logo + Nombre -->
      <a href="/#inicio" onclick="handleNavClick(event, 'inicio')" class="block">
        <div class="flex items-center space-x-2 h-12 px-3 transition-transform duration-300 ease-in-out hover:scale-[1.05] origin-center">
          <img src="/icono.png" alt="Logo de Check Vital" class="w-10 h-10 object-contain" />
          <h3 class="text-xl font-bold text-gray-900 leading-none">
            Check<span class="text-primary">Vital</span>
          </h3>
        </div>
      </a>


      <!-- Botón menú mobile -->
      <button 
        id="menu-toggle"
        class="md:hidden text-gray-700 focus:outline-none focus:ring-2 focus:ring-primary"
        aria-label="Abrir menú">
        <svg class="h-6 w-6" fill="none" stroke="currentColor" stroke-width="2"
          viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
          <path d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>

      <!-- Navegación desktop -->
      <nav class="hidden md:flex md:space-x-6 text-m font-medium md:items-center">
        <a href="/#inicio" onclick="handleNavClick(event, 'inicio')" class="nav-link block px-6 py-3 text-gray-700 hover:text-primary">Inicio</a>
        <a href="/#tratamientos" onclick="handleNavClick(event, 'tratamientos')" class="nav-link block px-6 py-3 text-gray-700 hover:text-primary">Servicios</a>
        <a href="/#contacto" onclick="handleNavClick(event, 'contacto')" class="nav-link block px-6 py-3 text-gray-700 hover:text-primary">Contacto</a>
      </nav>
    </div>
  </div>

  <!-- navegación mobile -->
  <nav id="menu" class="bg-white/70 backdrop-blur-md shadow hidden md:hidden flex-col w-full z-40">
    <a href="/#" onclick="handleNavClick(event, 'inicio')" class="block px-6 py-3 text-gray-700 hover:text-primary">Inicio</a>
    <a href="/#" onclick="handleNavClick(event, 'tratamientos')" class="block px-6 py-3 text-gray-700 hover:text-primary">Servicios</a>
    <a href="/#" onclick="handleNavClick(event, 'contacto')" class="block px-6 py-3 text-gray-700 hover:text-primary">Contacto</a>
  </nav>

</header>


<!-- Menu mobile oculto -->
<script is:inline>
  document.addEventListener('click', function(e) {
    if (e.target.closest('#menu-toggle')) {
      const menu = document.getElementById('menu');
      if (menu) {
        menu.classList.toggle('hidden');
        menu.classList.toggle('flex');
      }
    }
  });
</script>



