<section 
    class="bg-[url('/Hero.png')] bg-cover bg-center h-[80vh] flex items-center justify-center text-white text-center
    mask-b-from-60% mask-b-to-100%"
    style="clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 50% 100%, 0 90%);"
    >
  <div>
    <h1 class="text-4xl md:text-5xl font-bold drop-shadow-[0_2px_4px_rgba(0,0,0,0.8)]">Belleza & Bienestar</h1>
    <p class="mt-4 text-lg drop-shadow-[0_1px_2px_rgba(0,0,0,0.7)]">Tu mejor versión comienza aquí</p>
    <a href="#contacto" class="mt-6 inline-block bg-primary hover:bg-secondary-dark text-white px-6 py-3 rounded-full transition">Agenda tu cita</a>
  </div>
</section>