<section class= "bg-theme-light">
    <div class="hero-container">
        <div class="hero-content">
            <h1 class="hero-title">CheckVital</h1>
            <p class="hero-description">Your health, your data, your control.</p>
            <a href="/dashboard" class="hero-button">Go to Dashboard</a>
        </div>

    </div>
</section>