---
import "../styles/global.css";
import Header from '../components/Header.astro';
import { ClientRouter, fade, slide } from 'astro:transitions'; 

// Supports weights 100-900
import '@fontsource-variable/onest';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icono.png" />
		<title>CheckVital</title>
		<ClientRouter />
	</head>
	<body>
		<Header />
		<main class="mt-20">
			<slot />
		</main>
	</body>
</html>

