---
import "../styles/global.css";
import Header from '../components/Header.astro';
import { ClientRouter, fade, slide } from 'astro:transitions'; 
import Analytics from '@vercel/analytics/astro'

// Supports weights 100-900
import '@fontsource-variable/onest';
import Footer from "../components/Footer.astro";
import Banner from "../components/Banner.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icono.png" />
		<title>CheckVital</title>
		<ClientRouter />
		<Analytics/>
	</head>
	<body>
		<Header />
		<main class="mt-20">
			<slot />
		</main>
		<Banner />
		<Footer />

	</body>
</html>

